.bckgrnd {
    background: #D9D9D9;
}

.brdgrey {
    border: 2px solid grey;
}

.h600 {
    height: 600px;
}

.w800 {
    width: 800px;
}

.h200 {
    height: 200px;
}

.h400 {
    height: 400px;
}

.w600 {
    width: 600px;
}

.w200 {
    width: 200px;
}

.brdrtwhite {
    border-right: 2px solid white;
}
.brdltwhite {
    border-left: 2px solid white;
}
.brdtpwhite {
    border-top: 2px solid white;
}
.brdbtwhite {
    border-bottom: 2px solid white;
}
.flex{
    display: flex;
}
.clmn{
    flex-direction: column;
}
.hwauto {
    height: auto;
    width: auto;
}
.row {
    flex-direction: row;
}
.w804 {
    width: 804px;
}
.w198 {
    width: 198px;
}
.jstcnt {
    justify-content: center;
}
.aliitem {
    align-items: center;
}